asgiref==3.5.0
async-timeout==4.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.0.4
django-appconf==1.0.5
django-multiselectfield==0.1.12
django-redis==5.2.0
django-select2==7.10.0
djangorestframework==3.13.1
fuzzywuzzy==0.18.0
gunicorn==20.1.0
idna==3.3
joblib==1.1.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
psycopg2-binary==2.9.3
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
redis==4.2.2
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
urllib3==1.26.9
wrapt==1.14.0
xgboost==0.90
